body {
    margin: 0px;
    font-family: 'Merriweather', serif;
    text-align: center;
    color: darkcyan;
}

h1 {
    margin: 0 auto;
    font-family: 'Great Vibes', cursive;
    font-size: 7em;
    color: darkcyan;
}

h3, h2, h4 {
    font-size: 2em;
    color: darkcyan;
}

hr {
    width: 20%;
    border-style: dotted none none none;
    border-width: 5px;
    border-color: darkcyan;
  }

.top-container {
    position: relative;
    padding: 10px;
    padding-bottom: 350px;
    background-color: #e0ebe8;
}

.antenna {
    position: absolute;
    top: 360px;
    right: 730px;
    height: 50px;
    width: 50px;
}

.graph {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 300px;
    left: 750px;
}

.network {
    position: absolute;
    height: 300px;
    bottom: 20px;
    left: 800px;
}

.middle-container {

}

.bottom-container {
    
}